@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=GFS+Neohellenic&family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
}

.hero img {
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    margin: 0px;
}

.hero h1 {
    position: absolute;
    top: 2.1em;
    right: 0.5em;
    font-size: 7em;
    font-family: 'GFS Didot', serif;
    color: white;
    /* text-transform: uppercase; */
}

.hero p {
    position: absolute;
    top: 9em;
    right: 1.3em;
    font-size: 3em;
    font-family: 'GFS Didot', serif;
    color: white;
    text-transform: uppercase;
}

.hero p a {
    color: white;
    text-decoration: none;
}

/* 4 images on left side of hero */

.hero-four {
    position: absolute;
    top: 12em;
    left: 100px;
    width: 500px;
    margin: 0px;
}

.hero-four img {
    width: 230px;
    height: 190px;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    margin: 0px;
}

.hero-four img:first-child {
    padding-right: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    position: relative;
    animation: changeDirections 2s infinite alternate;
}

.hero-four img:nth-child(2) {
    padding-left: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    animation: changeDirectionss 2s infinite alternate;

}

.hero-four img:nth-child(3) {
    padding-right: 5px;
    padding-top: 5px;
    overflow: hidden;
    animation: changeDirectionss-1 2s infinite alternate;
}


.hero-four img:nth-child(4) {
    padding-left: 5px;
    padding-top: 5px;
    overflow: hidden;
    position: relative;
    animation: changeDirectionss-2 2s infinite alternate;
}

#coupleInPark {
    /* transform: translateY(-30px); */
}


/* Add Hover to 4 images in hero */

/* .hero-four img:hover {
    transform: scale(1.2);
    overflow: hidden;
    transition: 1s;
} */

.hero-four img:first-child {
    
}

@keyframes changeDirections {
    0% {
    }
    100% {
        transform: translateY(105%);
    }
}

@keyframes changeDirectionss {
    0% {
    }
    100% {
        transform: translateX(-105%);
    }
}

@keyframes changeDirectionss-1 {
    0% {
    }
    100% {
        transform: translateX(105%);
    }
}

@keyframes changeDirectionss-2 {
    0% {
    }
    100% {
        transform: translateY(-105%);
    }
}


.link__hover-effect {
    position: relative;
  }
  
  .link__hover-effect--white:after {
    background-color: #fff;
  }
  
  .link__hover-effect--black:after {
    background-color: #790252;
  }
  
  .link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
  }

  .link__hover-effect:hover:after {
    left: 0;
    width: 100%;
  }